.app {
  display: grid;
  grid-template-columns: 240px 1fr;
  grid-template-rows: 1fr 90px;
  height: 100vh;
}

.sidebar {
  grid-row: 1;
  grid-column: 1;
  height: 100%;
  overflow-y: auto;
}

.main {
  grid-row: 1;
  grid-column: 2;
  overflow-y: auto;
  background-color: #121212;
  padding: 20px;
}

.player-bar {
  grid-row: 2;
  grid-column: 1 / -1;
}